div.row
	div.col-sm-2
	div.col-sm-8.text-center
		p
			| Please report bugs/feature requests to
			|
			a(href=`mailto:`+ support) support
			|.

	div.col-sm-2

div.row
	div.col-sm-2
	div.col-sm-8.text-center

		.dropdown

			.btn.btn-sm.btn-info.btn.dropdown-toggle(type="button",data-toggle="dropdown")
				= (  preferences && preferences.theme ) ? preferences.theme + " " : "Change theme  "
				span.caret

			ul.dropdown-menu.theme-selection(role="menu", aria-labelledby="theme-selection")
				li(role="presentation")
					a(role="menuitem", tabindex="-1",href="#", value="")  Default
				for item in theme
					li(role="presentation")
						a(role="menuitem", tabindex="-1",href="#", value=item)= item

	div.col-sm-2



block scripts
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/message.js")
script(src="/js/index.js")