div.row
		div.col-sm-2
		div.col-sm-8
			p
				| Use of #{appname} states that you indemnify us and hold us harmless of any damages.
				| You agree that your use is at YOUR OWN RISK.
				| Please report bugs/feature requests to
				|
				a(href=`mailto:`+ support) support
				|.

		div.col-sm-2

block scripts
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/index.js")