extends layout

block content

	form(name="gate", id="gate" method="POST", action="#")

		div.row
			div.col-sm-2
			div.col-sm-8

				.panel.panel-default
					.panel-heading
						.row
							.col-sm-12

								h3=appname


					.panel-body
						.row
							.col-sm-12
								p
									input.btn.btn-lg.btn-block.btn-toggle.btn-warning(type="submit", value="Loading...", disabled="true")
						.row
							.col-sm-12
								p
									include message
						.row
							.col-sm-6.col-sm-offset-3
								if image
									|<img src="#{image}" height="100%" width="100%">							
			div.col-sm-2









