extends layout

block content

	form(name="gate", id="gate" method="POST", action="#")

		div.row

			div.col-sm-2
			div.col-sm-8

				.panel.panel-default
					.panel-heading
						h4=appname
					.panel-body
						.btn.btn-lg.btn-primary.btn-block(type="button") Toggle
			div.col-sm-2







